body {
  background-color: grey;
  font-family: sans-serif;
  padding: 50px;
}
.tab {
  display: block;  
}

.tab-content {
  display: none;  
}

.tab-content.active {
  display: block;  
}